<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="Firefox Test">
        <parameter name="browsers" value="FF"/>
        <classes>
            <class name="ImageLoadTests"/>
        </classes>
    </test>
    <test name="Chrome Test">
        <parameter name="browsers" value="CH"/>
        <classes>
            <class name="ImageLoadTests"/>
        </classes>
    </test>
</suite>